# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.mp3
cirilla

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
CachedData/
CachedExtensions/
logs/
Backups/

#ignore editor settings
.vscode